<h1>Elizabeth Language Translator</h1>

<h5>Type Your text here</h5>
<div *ngIf="vm$ | async as vm">
  <mat-form-field>
    <textarea
      style="min-height: 15px;
        max-height: 375px;
        height: 152px;
        margin: 0px;
        width: 313px;"
      matInput
      cdkAutosizeMinRows="1"
      cdkAutosizeMaxRows="25"
      [(ngModel)]="vm.plainInput"
      [value]="vm.plainInput"
      name="plainInput"
      #plainInput="ngModel"
    ></textarea>
  </mat-form-field>
  <br />
  <button mat-raised-button color="primary" (click)="onChange(vm.plainInput)">Translate</button>
  <button mat-raised-button color="primary" style="margin-left:5px;" (click)="onClear()">Clear</button>
  <br />
  <br />
  <h5>Translated into Elizabeth Language</h5>
  <span>{{ vm.translatedOutput }}</span>
</div>
<router-outlet></router-outlet>
