<mat-card>
  <mat-card-title>Elizabeth Language Translator</mat-card-title>
  <mat-card-content class="containerX">
    <div class="colorNested box" style="height: auto">
      <div fxLayout="column" fxLayoutGap="10px">
        <div *ngIf="vm$ | async as vm">
          <h5>Type Your text here</h5>
          <mat-form-field>
            <textarea
              style="
                min-height: 15px;
                max-height: 375px;
                height: 152px;
                margin: 0px;
                width: 313px;
              "
              matInput
              cdkAutosizeMinRows="1"
              cdkAutosizeMaxRows="25"
              [(ngModel)]="vm.plainInput"
              [value]="vm.plainInput"
              name="plainInput"
              #plainInput="ngModel"
            ></textarea>
          </mat-form-field>
          <br />
          <button
            mat-raised-button
            color="primary"
            (click)="onChange(vm.plainInput)"
          >
            Translate
          </button>
          <button
            mat-raised-button
            color="primary"
            style="margin-left: 5px"
            (click)="onClear()"
          >
            Clear
          </button>
          <br />
          <br />
          <h5>Translated into Elizabeth Language</h5>
          <span>{{ vm.translatedOutput }}</span>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
<router-outlet></router-outlet>
